<launch>

    <include file="$(find footstep_planner)/launch/map_server_thor.launch" />

    <node name="footstep_planner" pkg="footstep_planner" type="footstep_planner_node" >
        <rosparam file="$(find footstep_planner)/config/planning_params.yaml" command="load" />
        <rosparam file="$(find footstep_planner)/config/planning_params_thor.yaml" command="load" />
        <rosparam file="$(find footstep_planner)/config/footsteps_thor.yaml" command="load" />
        <remap from="map" to="/opc/map" />
    </node>

</launch>