<?xml version="1.0"?>

<launch>
  <arg name="args" default=""/>
  <arg name="footstep_planner" default="true" />
  <param name="demo_config" value="$(find thormang3_demo)/config/demo_config.yaml"/>
  <param name="motion_script_file_path"  value="$(find thormang3_motion_script_player)/script/motion_script.yaml"/> 
  
  <node name="thormang3_demo_opc" pkg="thormang3_demo" type="thormang3_demo" output="screen" args="$(arg args)">
    <remap from="/robotis/demo/pose" to="/pose_panel/pose" />
  </node>
  
  <node name="thormang3_foot_step_generator" pkg="thormang3_foot_step_generator" type="thormang3_foot_step_generator_node" output="screen"/>
  <node name="thormang3_motion_script_player" pkg="thormang3_motion_script_player" type="thormang3_motion_script_player"     output="screen"/>
  
  <include file="$(find footstep_planner)/launch/thormang3_footstep_planner.launch" if="$(arg footstep_planner)"/> 
  
</launch>
